* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
body * {
  color: white;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

body {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  background-color: #0f1624;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-image: linear-gradient(
    to right,
    rgb(212, 49, 212),
    rgb(0, 153, 255)
  );
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  width: 220px;
  height: 65px;
  border-radius: 83px;
  line-height: 56px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
}

h3 {
  font-weight: 600;
  font-size: 36px;
}

p {
  font-weight: 600;
  font-size: 28px;
}
/* ---------------
header style
----------------- */

header {
  background-color: #0f1624;
  z-index: 2;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  height: 137px;
}

.main-logo {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.main-logo::before {
  content: url("./icons/portfolio_icon.svg");
  padding-right: 1em;
}

#header-list {
  list-style-type: none;
  margin: 0;
  padding-inline: 10px;
  overflow: hidden;
}

#header-list li {
  float: left;
}

#header-list li a {
  font-weight: 500;
  font-size: 24px;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#header-list li a:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  text-underline-position: under;
}

.header-icons {
  display: flex;
  justify-content: space-around;
}

.github-logo {
  content: url("./icons/github-icon.svg");
  display: inline-block;
  margin-inline: 1.5em;
  width: 32px;
  height: 32px;
  margin-right: 59px;
}

.linkedin-logo {
  content: url("./icons/linkedin-icon.svg");
  display: inline-block;
  width: 32px;
  height: 32px;
}

/* ---------------
hero section style
----------------- */

main {
  position: relative;
  /* display: flex;
  flex-direction: column;
  margin: 0 10%;
  margin-top: 5%; */
}

.background-image {
  position: absolute;
  top: -146px;
  left: 557px;
  z-index: -1;
  opacity: 0.5;
}

.hero {
  height: 80vh;
  max-height: 459px;
  display: flex;
  align-items: center;
  margin-top: 146px;
}

.hero-content {
  max-width: 809px;
}

.hero-content h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  margin-bottom: 67px;
}

.hero-content p {
  font-size: 30px;
  color: #bcbcbc;
  margin-bottom: 67px;
}

.btn-big {
  font-size: 28px;
  width: 280px;
  height: 80px;
  border-radius: 83px;
  line-height: 80px;
}

.hero,
#projects-head {
  /* margin: 0 10%;
  margin-top: 5%; */
}

.next-line {
  border: none;
  height: 1px;
  margin: 20px 0;
}

#projects-head {
  padding-top: 176px;
  padding-bottom: 8%;
}

.project1 {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 2px grey;
  border-radius: 30px 0px 30px 0px;
  padding: 2.5%;
}

.project11 {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project11 .btn {
  align-self: center;
}

.project11 p {
  display: inline-block;
  text-align: justify;
}

.project11 h3::after {
  content: "";
  display: block;
  border-bottom: 5px solid;
  border-image: linear-gradient(45deg, rgb(212, 49, 212), rgb(0, 153, 255)) 1;
  margin-top: 5px;
  width: 50%;
  margin-left: 25%;
}

.project1-img {
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  margin-bottom: -2px;
}

.project1 image {
  display: block;
  justify-content: right;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projects-columns {
  padding-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
}

.project2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px 2px grey;
  border-radius: 30px 0px 30px 0px;
  padding: 25px;
}

.project2-img {
  border-radius: 50px 8px 8px 8px;
  overflow: hidden;
}

.project2 .project11 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#Technologies {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

#tech-header {
  margin-left: 10%;
}

#Technologies h3 {
  padding: 0%;
  margin: 0%;
  margin-left: 2%;
  margin-top: 4%;
}

.bar0 {
  background-color: #162950;
  width: 100%;
  height: 20px;
  border-radius: 50px 50px;
}

#html-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 100%;
  height: 20px;
  border-radius: 50px 50px;
}

#style-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 90%;
  height: 20px;
  border-radius: 50px 50px;
}

#script-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 80%;
  height: 20px;
  border-radius: 50px 50px;
}

#ui-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 50%;
  height: 20px;
  border-radius: 50px 50px;
}

#angular-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 1%;
  height: 20px;
  border-radius: 50px 50px;
}

#react-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 30%;
  height: 20px;
  border-radius: 50px 50px;
}

#medium-h3 {
  font-weight: 600;
  font-size: 48px;
}

#adition-tech h3 {
  margin-top: 10%;
  margin-bottom: 5%;
}

#skill-list {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#skill-list ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

#skill-list h3::before {
  content: url("./icons/burbuliukas.svg");
  padding-right: 40px;
}

#skill-list li {
  list-style-type: none;
  white-space: nowrap;
  padding-bottom: 20px;
}

#about-me {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 284px;
}

#aboutme h2 {
  margin-left: 2em;
  margin-bottom: 101px;
}

#about-me p {
  text-align: left;
  max-width: 500px;
}

#profile-images {
  position: relative;
  width: fit-content;
  height: 373.19px;
  top: -38px;
}

#image1 {
  position: relative;
}

#image2 {
  position: absolute;
  top: 40px;
  left: 0px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 42px;
  line-height: 63px;
  font-weight: 600;
}

#foote-contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 888px;
  min-width: 888px;
  gap: 100px;
}

.scnd::before {
  content: "";
  width: 10%;
  min-width: 34px;
  max-width: 34px;
  display: inline-block;
}

footer div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer div:last-child a {
  height: 62px;
  width: 71px;
}
