body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0f1624;
}

body,
body * {
  color: white !important;
  font-style: normal !important;
  font-family: "Poppins" !important;
}

header {
  background-color: #12203d;
  top: 0;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  gap: 10px;
}

.main-logo {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.main-logo::before {
  content: url("./icons/portfolio_icon.svg");
  padding-right: 1em;
}

#header-list {
  list-style-type: none;
  margin: 0;
  padding-inline: 10px;
  overflow: hidden;
}

#header-list li {
  float: left;
}

#header-list li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#header-list li a:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  text-underline-position: under;
}

.header-icons {
  display: flex;
  justify-content: space-around;
}

.github-logo {
  content: url("./icons/github-icon.svg");
  display: inline-block;
  padding-inline: 1.5em;
}

.linkedin-logo {
  content: url("./icons/linkedin-icon.svg");
  display: inline-block;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  margin-top: 5%;
}

main > * {
  display: block;
}

hero,
#projects-head {
  margin: 0 10%;
  margin-top: 5%;
}

.next-line {
  border: none;
  height: 1px;
  margin: 20px 0;
}

.button {
  background-image: linear-gradient(
    to right,
    rgb(212, 49, 212),
    rgb(0, 153, 255)
  );
  border-radius: 25px;
  border: none;
  color: white;
  padding: 10px;
  padding-inline: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#projects-head {
  padding-top: 10%;
  padding-bottom: 8%;
}

.project1 {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 2px grey;
  border-radius: 30px 0px 30px 0px;
  padding: 2.5%;
}

.project11 {
  width: 50%;
  text-align: center;
}

.project11 i {
  display: inline-block;
  text-align: justify;
}

.project11 h2::after {
  content: "";
  display: block;
  border-bottom: 5px solid;
  border-image: linear-gradient(45deg, rgb(212, 49, 212), rgb(0, 153, 255)) 1;
  margin-top: 5px;
  width: 50%;
  margin-left: 25%;
}

.project1-img {
  border-radius: 0px 0px 30px 0px;
  overflow: hidden;
  margin-bottom: -2px;
}

.project1 image {
  display: block;
  justify-content: right;
}

.projects-columns {
  padding-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
}

.project2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px 2px grey;
  border-radius: 30px 0px 30px 0px;
  padding: 15px;
}

.project2-img {
  border-radius: 30px 0px 0px 0px;
  overflow: hidden;
  height: 180px;
  margin-bottom: -2px;
}

.project2 .project11 {
  width: 100%;
}

#Technologies {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.tech-header {
  margin-left: 10%;
}

#Technologies h3 {
  padding: 0%;
  margin: 0%;
  margin-left: 2%;
  margin-top: 4%;
}

#bar0 {
  background-color: #162950;
  width: 100%;
  height: 20px;
  border-radius: 50px 50px;
}

.html-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 80%;
  height: 20px;
  border-radius: 50px 50px;
}

.style-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 80%;
  height: 20px;
  border-radius: 50px 50px;
}

.script-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 80%;
  height: 20px;
  border-radius: 50px 50px;
}

.ui-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 50%;
  height: 20px;
  border-radius: 50px 50px;
}

.angular-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 1%;
  height: 20px;
  border-radius: 50px 50px;
}

.react-bar {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 30%;
  height: 20px;
  border-radius: 50px 50px;
}

.adition-tech h2 {
  margin-top: 10%;
  margin-bottom: 5%;
}

.skill-list {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.skill-list ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.skill-list h3::before {
  content: url("./icons/burbuliukas.svg");
  padding-right: 40px;
}

.skill-list li {
  list-style-type: none;
  white-space: nowrap;
  padding-bottom: 20px;
}

.about-me {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 100px;
}

#aboutme h1 {
  margin-left: 4%;
  margin-bottom: 10%;
}

.about-me i {
  display: inline-block;
  text-align: left;
  justify-content: center;
  width: 50%;
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
}

.profile-images {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.image1 {
  position: relative;
}

.image2 {
  position: absolute;
  top: 40px;
  left: 0px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-weight: 100;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

footer div:nth-child(2) {
  margin-left: -30%;
}

footer div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer div:last-child a {
  height: 35px;
  width: 35px;
}
